:host {
  display: flex;
  justify-content: center;
  color: white;
  background: black;
  min-height: 100vh;

  .btn-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .yes-btn {
    font-family: 'Unbounded', serif;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid white;
    padding: 10px;
    background: red;
    &:hover {
      background: darken(red, 20%);
      cursor: pointer;
    }
  }
}
