body {
  background-color: black;
}

body {
  font-family: 'Unbounded', serif !important;
  font-weight: 500 !important;
  font-size: 32px !important;
  color: white !important;
}

:host {
  max-height: 98vh;
}
