:host {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.puzzle {
  display: flex;
  justify-content: center;
  width: 50vw;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  min-height: 98vh;
  flex-direction: column;
}
